@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
  --font-sans: "font", sans-serif;
}

@font-face {
  font-family: "garet";
  src: url("/fonts/Garet-Book.woff") format("woff");
}

@font-face {
  font-family: "romantic";
  src: url("/fonts/romantic.ttf") format("ttf");
}
